<div class="standard-form">
    <div class="craft-content">
        <div class="craft-panel">
            <div class="craft-panel-tittle">
                <h2>{{localize "craftpanel.modifier"}}</h2>
                {{#if isEdit}}<i class="fas fa-cog" data-name="modifiers" data-tooltip="{{localize "craftpanel.change-panel-size"}}"></i>{{/if}}
            </div>
            <div class="craft-cost-panel" style="width: 100%;">
                <input style="{{#unless isEdit}}pointer-events: none;{{/unless}}{{#if cost.icon}}background-image: url('{{cost.icon}}');{{/if}}" type="number" name="cost" value="{{cost.value}}" />
                <span>{{cost.max}}</span>
            </div>
            <div class="craft-category-panel">
                {{#each modifier_categories as |category|}}
                <img src="{{category.icon}}" alt="{{category.name}}" class="craft-category-icon {{#if category.choosed}}selected{{/if}}" data-category="{{category.id}}" data-type="modifier" data-tooltip="{{category.name}}">
                {{/each}}
            </div>
            <div class="craft-modifiers-panel" style="width:{{exist panelSizes.modifiers.width 300}}px;height:{{exist panelSizes.modifiers.height 470}}px;">
                {{#each modifiers as |modifier|}}
                <div class="craft-modifier {{modifier.locked}} {{modifier.choosed}}" {{modifier.locked}}
                    style="{{#if modifier.hasEnchanted}}border-color: yellow;{{else}}{{#if modifier.auto}}border-color: red;{{/if}}{{/if}}"
                    data-uuid="{{modifier.uuid}}" data-index="{{modifier.index}}" data-tooltip-class="craft-tooltip" data-tooltip="{{modifier.tooltip}}">
                    <div class="craft-modifier-img" style="background-image: url('{{modifier.image}}'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
                    <div class="craft-modifier-desc">
                        <h3 class="craft-modifier-tittle">{{modifier.name}}</h3>
                        <div class="craft-modifier-ingredients">
                            {{#each modifier.ingredients as |ingredient|}}
                            <div class="craft-modifier-ingredient" style="background-image: url('{{ingredient.img}}');">
                                <div class="element-num" draggable="false">{{ingredient.num}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="craft-main-panel">
            <div class="craft-panel">
                <div class="craft-panel-tittle">
                    <h2>{{localize "craftpanel.craft-panel-enchant.slot"}}</h2>
                    {{#if isEdit}}<i class="fas fa-cog" data-name="slots" data-tooltip="{{localize "craftpanel.change-panel-size"}}"></i>{{/if}}
                </div>
                <div class="craft-slot-panel main-child-panel" style="width:{{exist panelSizes.slots.width 600}}px;height:{{exist panelSizes.slots.height 200}}px;position: relative;">
                    {{#each slots as |slot|}}
                    <div {{#if slot.draggable}}draggable="true"{{/if}} data-tooltip-class="craft-tooltip" data-tooltip="{{slot.tooltip}}"
                        class="craft-slot {{slot.empty}} {{#if slot.overrideStyle}}{{slot.overrideStyleClass}}{{else}}{{#if ../useCircleStyle}}round{{/if}}{{/if}}" 
                        data-index="{{slot.slotIndex}}" data-uuid="{{slot.uuid}}" data-type="slot"
                        style="width: {{slot.size}}px;height: {{slot.size}}px; {{#if slot.position.unlock}}position: absolute; top: {{slot.position.y}}px; left: {{slot.position.x}}px;{{/if}} {{#if slot.itemColor}}--item-color: {{slot.itemColor}};{{/if}} background-image: url('{{#if slot.item.img}}{{slot.item.img}}{{else}}{{slot.image}}{{/if}}'); {{#if slot.empty}}filter: sepia(1) brightness(0.6) hue-rotate({{slot.hue}}deg);{{/if}}">
                        <div class="craft-slot-elements" {{#unless slot.showElements}}hidden="true" {{/unless}}{{#if slot.empty}}hidden="true" {{/if}} draggable="false">
                            {{#each slot.elements as |element|}}
                            <div class="slot-element-circle-container">
                                {{#each (range 0 element.num)}}
                                <div class="slot-element-circle {{element.shape}}" draggable="false" style="background-color: {{element.color}};"></div>
                                {{/each}}
                            </div>
                            {{/each}}
                        </div>
                        <i draggable="false" class="fa-solid fa-lock slot-locked" style="line-height: {{slot.size}}px; font-size: {{slot.lockSize}}px;{{#unless slot.isLocked}}display:none;{{/unless}}"></i>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="craft-panel">
                <div class="craft-panel-tittle">
                    <h2>{{localize "craftpanel.result"}}</h2>
                    {{#if isEdit}}<i class="fas fa-cog" data-name="results" data-tooltip="{{localize "craftpanel.change-panel-size"}}"></i>{{/if}}
                </div>
                <div class="craft-results-panel main-child-panel" style="width:{{exist panelSizes.results.width 600}}px;height:{{exist panelSizes.results.height 200}}px;">
                    {{#each results as |result|}}
                    <div {{#if slot.draggable}}draggable="true"{{/if}} data-tooltip-class="craft-tooltip" data-tooltip="{{result.tooltip}}"
                        class="craft-slot {{slot.empty}} {{#if result.overrideStyle}}{{result.overrideStyleClass}}{{else}}{{#if ../useCircleStyle}}round{{/if}}{{/if}}"
                        data-uuid="{{result.uuid}}" data-index="{{result.slotIndex}}" data-type="result"
                        style="width: {{result.size}}px;height: {{result.size}}px; {{#if slot.position.unlock}}position: absolute; top: {{slot.position.y}}px; left: {{slot.position.x}}px;{{/if}} {{#if result.itemColor}}--item-color: {{result.itemColor}};{{/if}} {{#if result.img}}background-image: url('{{result.img}}');{{/if}} {{#if result.empty}}filter: sepia(1) brightness(0.6) hue-rotate({{result.hue}}deg);{{/if}}">
                        {{!-- <div class="element-num" draggable="false">{{slot.quantity}}</div> --}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="craft-panel">
                <div class="craft-panel-tittle">
                    <h2>{{localize "craftpanel.element"}}</h2>
                    {{#if isEdit}}<i class="fas fa-cog" data-name="elements" data-tooltip="{{localize "craftpanel.change-panel-size"}}"></i>{{/if}}
                </div>
                <div class="craft-elements-panel main-child-panel" style="width:{{exist panelSizes.elements.width 600}}px;height:{{exist panelSizes.elements.height 70}}px;">
                    {{#each elements as |element|}}
                    <div draggable="true" data-tooltip="{{element.name}}" class="element-slot elements {{element.shapeClass}}"
                        data-uuid="{{element.uuid}}" data-id="{{element.id}}" data-index="{{element.index}}"
                        style="{{#if element.color}}--item-color: {{element.color}};{{/if}} {{#if element.size}}--element-size: {{element.size}}px;{{/if}}
                        {{#if element.img}}background-image: url('{{element.img}}');{{/if}} ">
                        <div class="element-num" draggable="false">{{element.num}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="craft-panel">
            <div class="craft-panel-tittle">
                <h2>{{localize "craftpanel.material"}}</h2>
                {{#if isEdit}}<i class="fas fa-cog" data-name="materials" data-tooltip="{{localize "craftpanel.change-panel-size"}}"></i>{{/if}}
            </div>
            <div class="craft-category-panel">
                {{#each material_categories as |category|}}
                <img src="{{category.icon}}" alt="{{category.name}}" class="craft-category-icon {{#if category.choosed}}selected{{/if}}" data-category="{{category.id}}" data-type="material" data-tooltip="{{category.name}}">
                {{/each}}
            </div>
            <div class="craft-materials-panel" style="width:{{exist panelSizes.materials.width 300}}px;height:{{exist panelSizes.materials.height 540}}px;">
                {{#each materials as |slot|}}
                <div draggable="true" data-tooltip-class="craft-tooltip" data-tooltip="{{slot.tooltip}}"
                    class="element-slot materials" data-uuid="{{slot.uuid}}"
                    style="{{#if slot.itemColor}}--item-color: {{slot.itemColor}};{{/if}} {{#if slot.item.img}}background-image: url('{{slot.item.img}}');{{/if}} ">
                    <div class="craft-slot-elements" {{#unless slot.showElements}}hidden="true" {{/unless}}{{#if slot.empty}}hidden="true" {{/if}} draggable="false">
                        {{#each slot.elements as |element|}}
                        <div class="slot-element-circle-container">
                            {{#each (range 0 element.num)}}
                            <div class="slot-element-circle {{element.shape}}" draggable="false" style="background-color: {{element.color}};"></div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="craft-slot-quantity" {{#unless slot.showQuantity}}hidden="true"{{/unless}} draggable="false">
                        {{slot.quantity}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <footer class="form-footer">
        {{#if isEdit}}
        <button type="button" name="new-modifier" data-action="new-modifier"><i class="fas fa-plus"></i> {{localize "craftpanel.craft-panel-enchant.new-modifier"}}</button>
        <button type="button" name="new-slot" data-action="new-slot"><i class="fas fa-plus"></i> {{localize "craftpanel.craft-panel-enchant.new-slot"}}</button>
        <button type="button" name="new-result" data-action="new-slot"><i class="fas fa-plus"></i> {{localize "craftpanel.craft-panel-enchant.new-result"}}</button>
        <button type="button" name="configure-panel" data-action="configure-panel"><i class="fas fa-cog"></i> {{localize "craftpanel.configure"}}</button>
        {{else}}
        <button type="button" name="craft" data-action="craft"><i class="fa-solid fa-book-journal-whills"></i>{{localize "craftpanel.craft"}}</button>
        {{/if}}
        <button type="button" name="close" data-action="close"><i class="fas fa-times"></i>{{localize "Close"}}</button>
    </footer>
</div>