<div class="standard-form">
    <div class="craft-content">
        <div class="craft-panel">
            <div class="craft-panel-tittle">
                <h2>{{localize "craftpanel.element"}}</h2>
            </div>
            <div class="craft-elementitems-panel" style="width:{{exist panelSizes.elementitems.width 420}}px;height:{{exist panelSizes.elementitems.height 420}}px;">
                {{#each elementItems as |element|}}
                <div draggable="true" data-tooltip="{{element.name}}" class="element-slot elements"
                    data-index="{{element.slotIndex}}" data-uuid="{{element.uuid}}" data-id="{{element.id}}" data-inslot="false"
                    style="{{#if element.img}}background-image: url('{{element.img}}');{{/if}} ">
                    <div class="element-color-circle" draggable="false" style="background-color: {{element.color}};"></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="craft-main-panel" style="width: 300px;">
            <div class="craft-panel">
                <div class="craft-panel-tittle">
                    <h2>{{localize "craftpanel.material"}}</h2>
                </div>
                <div class="craft-slot-panel main-child-panel" style="width:{{exist panelSizes.slots.width 300}}px;height:{{exist panelSizes.slots.height 200}}px;">
                    {{#each slots as |slot|}}
                    <div draggable="true" data-tooltip-class="craft-tooltip" data-tooltip="{{slot.tooltip}}"
                        class="element-slot materials" data-index="{{slot.slotIndex}}" data-uuid="{{slot.uuid}}" data-inslot="true"
                        style="{{#if slot.itemColor}}box-shadow: inset 0 0 10px {{slot.itemColor}}; border-color: {{slot.itemColor}};{{/if}} {{#if slot.item.img}}background-image: url('{{slot.item.img}}');{{/if}} ">
                        <div class="craft-slot-elements" {{#unless slot.showElements}}hidden="true" {{/unless}}{{#if
                            slot.empty}}hidden="true" {{/if}} draggable="false">
                            {{#each slot.elements as |element|}}
                            <div class="slot-element-circle-container">
                                {{#each (range 0 element.num)}}
                                <div class="slot-element-circle {{element.shape}}" draggable="false" style="background-color: {{element.color}};"></div>
                                {{/each}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="craft-panel">
                <div class="craft-panel-tittle">
                    <h2>{{localize "craftpanel.element"}}</h2>
                </div>
                <div class="craft-elements-panel main-child-panel" style="width:{{exist panelSizes.elements.width 300}}px;height:{{exist panelSizes.elements.height 170}}px;">
                    {{#each elements as |element|}}
                    <div draggable="true" data-tooltip="{{element.name}}" class="element-slot elements"
                        data-index="{{element.slotIndex}}" data-uuid="{{element.uuid}}" data-id="{{element.id}}" data-inslot="true"
                        style="{{#if element.img}}background-image: url('{{element.img}}');{{/if}} ">
                        <div class="element-num" draggable="false">{{element.num}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="craft-panel">
            <div class="craft-panel-tittle">
                <h2>{{localize "craftpanel.material"}}</h2>
            </div>
            <div class="craft-materials-panel" style="width:{{exist panelSizes.materials.width 420}}px;height:{{exist panelSizes.materials.height 420}}px;">
                {{#each materials as |slot|}}
                <div draggable="true" data-tooltip-class="craft-tooltip" data-tooltip="{{slot.tooltip}}"
                    class="element-slot materials" data-uuid="{{slot.uuid}}" data-inslot="false"
                    style="{{#if slot.itemColor}}box-shadow: inset 0 0 10px {{slot.itemColor}}; border-color: {{slot.itemColor}};{{/if}} {{#if slot.item.img}}background-image: url('{{slot.item.img}}');{{/if}} ">
                    <div class="craft-slot-elements" {{#unless slot.showElements}}hidden="true" {{/unless}}{{#if
                        slot.empty}}hidden="true" {{/if}} draggable="false">
                        {{#each slot.elements as |element|}}
                        <div class="slot-element-circle-container">
                            {{#each (range 0 element.num)}}
                            <div class="slot-element-circle {{element.shape}}" draggable="false" style="background-color: {{element.color}};"></div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <footer class="form-footer">
        <button type="button" name="edit" data-action="edit"><i class="fas fa-edit"></i>{{localize "craftpanel.edit"}}</button>
        <button type="button" name="configure" data-action="configure"><i class="fas fa-cog"></i> {{localize "craftpanel.configure"}}</button>
        <button type="button" name="close" data-action="close"><i class="fas fa-times"></i>{{localize "Close"}}</button>
    </footer>
</div>